- @breadcrumb_link = dashboard_projects_path
- breadcrumb_title "Projects"
- @hide_top_links = true
- page_title    'New Project'
- header_title  "Projects", dashboard_projects_path
- visibility_level = params.dig(:project, :visibility_level) || default_project_visibility
- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'project_new'

.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .row.prepend-top-default
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0
        New project
      %p
        A project is where you house your files (repository), plan your work (issues), and publish your documentation (wiki), #{link_to 'among other things', help_page_path("user/project/index.md", anchor: "projects-features"), target: '_blank'}.
      %p
        All features are enabled when you create a project, but you can disable the ones you don’t need in the project settings.
      = brand_new_project_guidelines
    .col-lg-9.js-toggle-container
      %ul.nav-links.gitlab-tabs{ role: 'tablist' }
        %li.active{ role: 'presentation' }
          %a{ href: '#blank-project-pane', id: 'blank-project-tab', data: { toggle: 'tab' }, role: 'tab' }
            %span.hidden-xs Blank project
            %span.visible-xs Blank
        %li{ role: 'presentation' }
          %a{ href: '#create-from-template-pane', id: 'create-from-template-tab', data: { toggle: 'tab' }, role: 'tab' }
            %span.hidden-xs Create from template
            %span.visible-xs Template
        %li{ role: 'presentation' }
          %a{ href: '#import-project-pane', id: 'import-project-tab', data: { toggle: 'tab' }, role: 'tab' }
            %span.hidden-xs Import project
            %span.visible-xs Import

      .tab-content.gitlab-tab-content
        .tab-pane.active{ id: 'blank-project-pane', role: 'tabpanel' }
          = form_for @project, html: { class: 'new_project' } do |f|
            = render 'new_project_fields', f: f, project_name_id: "blank-project-name"

        .tab-pane.no-padding{ id: 'create-from-template-pane', role: 'tabpanel' }
          = form_for @project, html: { class: 'new_project' } do |f|
            .project-template
              .form-group
                %div
                  = render 'project_templates', f: f

        .tab-pane.import-project-pane{ id: 'import-project-pane', role: 'tabpanel' }
          = form_for @project, html: { class: 'new_project' } do |f|
            - if import_sources_enabled?
              .project-import.row
                .col-sm-12
                  .form-group.import-btn-container.clearfix
                    = f.label :visibility_level, class: 'label-light' do #the label here seems wrong
                      Import project from
                    .import-buttons
                      - if gitlab_project_import_enabled?
                        .import_gitlab_project.has-tooltip{ data: { container: 'body' } }
                          = link_to new_import_gitlab_project_path, class: 'btn btn_import_gitlab_project project-submit' do
                            = icon('gitlab', text: 'GitLab export')
                      %div
                        - if github_import_enabled?
                          = link_to new_import_github_path, class: 'btn import_github' do
                            = icon('github', text: 'GitHub')
                      %div
                        - if bitbucket_import_enabled?
                          = link_to status_import_bitbucket_path, class: "btn import_bitbucket #{'how_to_import_link' unless bitbucket_import_configured?}" do
                            = icon('bitbucket', text: 'Bitbucket')
                          - unless bitbucket_import_configured?
                            = render 'bitbucket_import_modal'
                      %div
                        - if gitlab_import_enabled?
                          = link_to status_import_gitlab_path, class: "btn import_gitlab #{'how_to_import_link' unless gitlab_import_configured?}" do
                            = icon('gitlab', text: 'GitLab.com')
                          - unless gitlab_import_configured?
                            = render 'gitlab_import_modal'
                      %div
                        - if google_code_import_enabled?
                          = link_to new_import_google_code_path, class: 'btn import_google_code' do
                            = icon('google', text: 'Google Code')
                      %div
                        - if fogbugz_import_enabled?
                          = link_to new_import_fogbugz_path, class: 'btn import_fogbugz' do
                            = icon('bug', text: 'Fogbugz')
                      %div
                        - if gitea_import_enabled?
                          = link_to new_import_gitea_path, class: 'btn import_gitea' do
                            = custom_icon('go_logo')
                            Gitea
                      %div
                        - if git_import_enabled?
                          %button.btn.js-toggle-button.import_git{ type: "button" }
                            = icon('git', text: 'Repo by URL')
                .col-lg-12
                  .js-toggle-content.hide.toggle-import-form
                    %hr
                      = render "shared/import_form", f: f
                      = render 'new_project_fields', f: f, project_name_id: "import-url-name"

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      Creating project &amp; repository.
    %p Please wait a moment, this page will automatically refresh when ready.
